@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import "../css/index.css";

html , body {
    padding: 0;
    margin: 0;
    font-family: 'calibri';
}